@import "tailwindcss";

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}


@theme {
    --color-primary: #ffffff;
    --color-secondary: #1da9cc;
    --color-ternary: #e8f7fa;
    --color-accent: #113d47;
    --color-text: #1c1c1b;
}

